<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <div class="container">
        <form class="login-box" action="/login" method="post">
            <h2>Login</h2>
        <p class="error"> <%-error%></p>
            <div class="input-box">
                <input type="email" placeholder="Email" name="email">
            </div>

            
              

            <button type="submit">Login</button>

          
        </form>
    </div>

</body>
</html>